.App {
  text-align: center;
  font-family: "Century Gothic", CenturyGothic;
  background-color: #0D0C12;
  min-height: 120vh;
  color: white;
}

.App-header {
  background-color: #0D0C12;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.textfield {
  width: 80%;
  font-size: 16px;
  margin: 15px;
}

.form {
  padding: 5%;
}

.note-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 100px;
}

.note {
  background-color: grey;
  margin: 10px;
  padding: 2%;
  min-width: 12%;
  max-width: 23%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button-container {
  padding: 5px;
  display: flex;
  flex-wrap: wrap-reverse;
}

.edit-form-background {
 position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 30;
}

.edit-form {
  position: fixed;
  background-color: #8a83c6;
  width: 60%;
  margin: 15%;
  padding: 5%;
}

.main-btn {
  font-size: 14px;
  padding-left: 15px;
  padding-right: 15px;
}

.main-btn:hover {
  background-color: #CCC8E6;

}

h1 {
  color: #8a83c6;
  font-size: calc(10px + 6vmin);
}

h2 {
  color: white;
  font-size: calc(10px + 2vmin);
}

h3 {
  color: white;
  font-size: calc(3px + 4vmin);
  line-height: 0px;
  color: pink;
}

p {
  font-size: calc(4px + 2vmin); 
}

button {
  padding: 8px;
  margin: 4px;
  border-style: none;
  border-radius: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
